/* loading spinner */
.loading {
  font-size: 7em;
  margin-top: 150px;
  font-family: "Audiowide", cursive;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid#b0091f;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Audiowide */
/* #b0091f; */
